[![main]({{{repository.url}}}/actions/workflows/main.yml/badge.svg)]({{{repository.url}}}/actions/workflows/main.yml)

This repo contains multiple packages, see their README files for more information:

{{#packages}}
- [{{{name}}}]({{{directory}}}#readme) - {{{description}}}
{{/packages}}

## License

{{{ LICENSE }}}
<!-- {{{ GENERATED_TOKEN }}} -->
